body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #eaeaea3f;
    text-align: center;
}
header {
    background-color: #868080bb;
    padding: 1vh;
}
li, a {
    list-style: none;
    text-decoration: none;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
li {
    padding-right: 28px;
    font-size: 1.4em;
}
header a{
    color: #333;
    padding: 5px;
}
header a:hover {
    color: #eaeaea;
    background-color: rgba(0, 0, 0, 0.404);
    border: 1px solid #eaeaea;
}

.grid {
    text-align: center;
    width: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2vh;
}
.grid img {
    object-fit: cover;
    width: 100%;
    height: 500px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 248, 220, 0);
    height: 5vh;
}

footer a{
    font-size: 1.5em;
    padding: 5px;
}

footer a:hover {
    font-size: 1.6em;
    color: white;
    background-color: rgb(70, 70, 73);
    border: 2px solid rgb(44, 37, 37);
}

.life {
   
    box-shadow: 5px 0 10px rgb(112, 110, 110);
}

.familyvalues {
  
    box-shadow: 5px 0 10px rgb(112, 110, 110);

}

.modern {
    
    box-shadow: 5px 0 10px rgb(112, 110, 110);
}

.children {
    
    box-shadow: 5px 0 10px rgb(112, 110, 110);;

}
section {
    background-color: #eaeaea;
}

.text {
    padding: 0 2em;
}

@media (min-width: 700px) {
    .text {
        font-size: 1.5em;
    }
}
@media (max-width: 1800px) {
    .text {
        font-size: 1.5em;
    }
}
@media (max-width: 550px) {
    .text h1 {
        font-size: 1.1em;
    }
}