body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    background-color: #6d666648;

}


header {
   color: black;
   font-size: 1.2em;
   background-color: bisque;
}
header h1 {
    padding: 30px;
}

.mainDiv {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;

}



.image {

   height: 30vh;
}

.italia {
    background-image: url(../img/italia.jpg);
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
}


.america {
    background-image: url(../img/america.jpg);
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.british  {
    background-image: url(../img/britan.jpg);
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ukrain  {
    background-image: url(../img/ukrain.jpg);
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.indian {
    background-image: url(../img/india.jpg);
    height: 30vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;

}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(1, 1, 7, 0.959);
    
}
.he {
    z-index: 9999;
    opacity: 1.5;
}
.text img {
    object-fit: cover;
    width: 100%;
}
a {
    text-decoration: none;
    color: #FFFF00;
    font-size: 1.5em;
    padding: 5px;

}
a:hover {
    background-color: rgba(241, 234, 234, 0.281);
    color: #00FFFF;
    border: 1px solid #eaeaea;
}


 @media (min-width: 500px){
    .mainDiv {
        display: grid;
        column-gap: 10em;
        row-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        padding: 3vh ;

       
    }
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header {
        /* width: 80%; */
    }
} 

@media (max-width: 700px) {
    
.image {
 
    height: 60vh;
 }
}
@media (max-width: 900px) {
    
    .mainDiv  {
     
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
     }
    }

@media (min-width: 1750px){
    section {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #indonesia {
        grid-column: 1 / span 3;
    }
    #kiev {
        grid-column: 1 / span 2;
    }

 
}